# The CODEOWNERS file is used to define individuals or teams that are
# responsible for code in a repository. For details, please refer to
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @ardentperf

# pg_cron
/pg-cron/ @ardentperf

# postgis (stub for required_extensions dependency resolution)
/postgis/ @ardentperf

# pldebugger
/pldebugger/ @ardentperf

# plprofiler
/plprofiler/ @ardentperf

# pg-uuidv7
/pg-uuidv7/ @ardentperf

# pgagent
/pgagent/ @ardentperf

# pgmemcache
/pgmemcache/ @ardentperf

# age
/age/ @ardentperf

# pgmp
/pgmp/ @ardentperf

# tds-fdw
/tds-fdw/ @ardentperf

# pg-rrule
/pg-rrule/ @ardentperf

# mysql-fdw
/mysql-fdw/ @ardentperf

# snakeoil
/snakeoil/ @ardentperf

# h3
/h3/ @ardentperf

# q3c
/q3c/ @ardentperf

# plr
/plr/ @ardentperf

# pgsphere
/pgsphere/ @ardentperf

# debversion
/debversion/ @ardentperf

# mobilitydb
/mobilitydb/ @ardentperf
